*:focus {
  border: 0;
  outline: none;
  box-shadow: none;
  outline-style: none;
  border-color: transparent;
}

input:focus {
  outline: none;
}

body {
  background-color: #e9ecf0;
}

.books-holder {
  padding: 25px 0;
}
